.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
}

.header_job_title {
  margin-top: 5px;
}

.header_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.header_social_media {
  position: absolute;
  left: 10px !important;
  bottom: 10px !important;
  display: flex;
  flex-direction: column;
}

.header_links_button {
  transition: var(--transition);
  color: var(--color-primary);
}

.header_links_button:hover {
  color: var(--color-light);
  cursor: pointer;
}
