.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
}

h1,
h2,
h3 {
  color: white;
}
.header_job_title_text {
  color: rgba(157, 154, 154, 0.995);
}

.background_image {
  background-image: url(../../assets/Images/background_image.jpg);
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  position: relative;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
  min-width: 100%;
}

.header_job_title {
  margin-top: 15px;
}

.header_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
}

.header_social_media {
  position: absolute;
  left: 10px !important;
  bottom: 10px !important;
  display: flex;
  flex-direction: column;
}

.header_links_button {
  transition: var(--transition);
  color: var(--color-primary);
}

.header_links_button:hover {
  color: var(--color-light);
  cursor: pointer;
}
